@use "./variables.scss" as *;

// put your custom CSS here!

button.title-button.desktop-explorer {
  display: none;

}

@media all and (min-width: map-get($breakpoints, desktop)) {
  #quartz-body {
    grid-template-columns: 380px auto 380px; // left, center, right
  }
}

.centered {
  text-align: center;
}

.sidebar.left .folder-title {
  font-size: 1.25rem !important;
}

// custom.scss
.explorer-ul.overflow {
  border: 5px solid transparent !important;
  height: 100% !important;
}

.canvas-node-content .centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.canvas-node-content {
  padding: 6px 8px; // reduce from the default 12px, tweak to taste

  p {
    margin: 0; // kill default paragraph spacing
  }

  p + p {
    margin-top: 0.4em; // small gap between multiple paragraphs, if you want one
  }
}

.canvas-node-content {
  user-select: text !important;
  cursor: text;
}